@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: rgb(20, 20, 20);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(6, 6, 6);
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: #2D63DC;
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important ;
}

.intro {
  margin-bottom: 40px;
}

.intro h6 {
  font-weight: 400;
  color: #2D63DC;
}

.intro p {
  max-width: 500px;
  margin: auto;
}


/* NAVBAR */

.top-nav {
  background-color: #2D63DC;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: whitesmoke;
}

.top-nav i {
  vertical-align: middle;
}


.social-links a {
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 100%;
}

.social-links a:hover {
  background-color: #ffffff;
  color: #2D63DC;
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #2D63DC;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: #2D63DC;
}

.navbar-brand span {
  color: #2D63DC;
}

/* BTN */
.btn {
  padding: 9px 24px;
  font-weight: 500;
}

.btn-brand {
  background-color: #2D63DC;
  color: #ffffff;
  border-color: #2D63DC;
}

.btn-brand:hover {
  color: #ffffff;
  background-color: #295bc7;
}

/* SLIDER */

#hero-slider h1 {
  font-weight: 700 !important;
}

.slide1 {
  background: linear-gradient(rgba(5, 28, 45, 0.155), rgba(10, 35, 52, 0.16)), url(../img/toy-pool.jpg);
}

.slide2 {
  background: linear-gradient(rgba(5, 28, 45, 0.155), rgba(10, 35, 52, 0.16)), url(../img/sunset-pool.jpg);
}

/* OWL CAROUSEL */

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin-top: -30px !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  border-radius: 100px !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-next:hover,
.owl-prev:hover {
  background-color: #2D63DC !important;
}


/* INFOBOX */
.info-box {
  display: flex;
  align-items: center;
  /* color: black; */
}

.about-image {
  border-radius: 50%;
  box-shadow: 6px 6px 20px rgba(0, 78, 160, 0.6);
}

/* TOP BANNER  */
/* MILESTONE */
#top-banner {
  background: linear-gradient(rgba(12, 38, 54, 0.123), rgba(45, 101, 220, 0)), url(../img/milestone-banner.jpg);
}

#top-banner .display-4,
#top-banner p {
  color: #ffffff;
}

#top-banner .display-4 {
  font-weight: 700;
}

/* MILESTONE */
#milestone {
  background: linear-gradient(rgba(12, 38, 54, 0.123), rgba(45, 101, 220, 0)), url(../img/milestone-banner.jpg);
}

#milestone .display-4,
#milestone p {
  color: #ffffff;
}

#milestone .display-4 {
  font-weight: 700;
}

/* SERVICE */
.service-box {
  padding: 32px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}


.service-box img {
  object-fit: contain;
}

.service-box h5 {
  margin-top: 24px;
  margin-bottom: 12px;
}

/* PROJECT */
#project-slider .owl-next,
#project-slider .owl.prev {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

#project-slider .owl-next:hover,
#project-slider .owl.prev:hover {
  background-color: #2D63DC !important;
}


.project {
  position: relative;
}

.project .overlay {
  background: linear-gradient(to bottom, rgba(9, 32, 50, 0.0), rgba(9, 32, 50, 0.8));
  position: absolute;
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
}

.project .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 32px
}

.project h1,
.project h6 {
  color: #ffffff;
 }

 .project h6 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
 }

.project h6::before {
  content: '';
  height: 2px;
  width: 24px;
  background-color: #2D63DC;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

/* TEAM */
.team-member {
  text-align: center;
}
.team-member .img-wrapper {
  position: relative;
  overflow: hidden;
}

.team-member .overlay {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 101, 220, 0.253);
  transition: all 0.4s ease;
  opacity: 0;
}

.team-member .social-links {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  opacity: 0;
}

.team-member:hover .overlay {
  opacity: 1;
  top: 0;
}

.team-member:hover .social-links {
  opacity: 1;
  top: 50%;
}

.team-member h5 {
  margin-top: 24px;
}

/* REVIEW */
#reviews {
  background: linear-gradient(to bottom, rgba(9, 32, 50, 0.185), rgba(9, 32, 50, 0.153)), url(../img/milestone-banner.jpg);
  margin-top: -80px;
}

.review {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.review img {
  width:  85px !important;
  border-radius: 1000px;
  margin: auto;
}

.review h4,
.review p {
  color: #fff;
}

.review small {
  color: #2D63DC;
}

.review p {
  margin-top: 28px;
}

.owl-dot.active span {
  background-color: #2D63DC !important;
}

/* BLOG POST */
.blog-post {
  position: relative;
}

.blog-post .tag {
  padding: 4px 12px;
  background-color: #2D63DC;
  color: #fff;
  border-radius: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
}

.blog-post a {
  font-weight: 600;
}


.blog-post img {
  margin-bottom: 12px;
}

.blog-post h4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog-post small {
  color: #2D63DC;
  text-decoration: underline;
  text-transform: uppercase;
}

/* CONTACT FORM */
.form-control {
  margin-bottom: 1rem;
}

.input-box {
  width: 100%;
}

.contact-form {
  align-items: center;
  max-width: 560px;
  margin: auto;
}

/* .form-btn {
  margin: auto;
} */


/* FOOTER */
footer {
  padding-top: 80px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  background: linear-gradient(rgba(12, 38, 54, 0.123), rgba(45, 101, 220, 0)), url(../img/milestone-banner.jpg);
}

footer .navbar-brand {
  color: #fff;
  margin-bottom: 28px;
  display: inline-block;
}

.footer-top {
  margin-bottom: 40px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.288);
  padding-top: 20px;
}

footer .social-links a {
  margin-left: 5px;
  margin: 5px;
}